<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/Logo.png">


    <link rel="stylesheet" href="../style/style.css">

    <title>PULPOYAKIS</title>
</head>
<body>

    <header>

        <div class="Complete">
        
             <img class="Logo" src="../img/chef.png" alt="cocinero">
            
            <h1 class="Slogan">Compartiendo sabores</h1>

        </div>


        <nav class="Menu">
            <div class="List">
                <ul>
                    <li> <a href="../index.html"> Quienes somos!</a></li>
                    <li> <a href="Cocineros!.html"> Cocineros! </a></li>
                    <li> <a href="Sucursales!.html"> Sucursales! </a></li>
                    <li> <a href="Tienda!.html"> Tienda! </a></li>
                    <li> <a href="Contactanos!.html"> Contactanos! </a></li>
                </ul>
            </div>
        <ul>
    
        </nav>

    </header>













</body>
</html>